<template>
  <section class="controls-menu">
    <ol class="controls-menu__list">
      <li v-for="(stage, i) in stages" :key="`stage-${i}`" :class="getListItemClasses(stage.name)">{{ stage.label }}</li>
    </ol>
    <div class="controls-menu__actions">
      <template v-if="currentStageName ==='draw'">
        <button class="controls-menu__button" @click="startDraw()">Losuj pytanie</button>
        <button class="controls-menu__button" @click="openGodMode()">God Mode</button>
      </template>
      <button class="controls-menu__button" v-if="currentStageName === 'auction'" @click="endAuction()">Zakończ licytację</button>
      <button class="controls-menu__button" v-if="currentStageName === 'question'" @click="endQuestion()">Idź dalej</button>
      <template v-if="currentStageName === 'billing'">
        <p class="controls-menu__paragraph">Poprawna odpowiedź?</p>
        <button class="controls-menu__button" @click="correctAnswer()">Tak</button>
        <button class="controls-menu__button" @click="wrongAnswer()">Nie</button>
      </template>
    </div>
  </section>
</template>

<script>
export default {
  name: "ControlsMenu",

  props: {
    currentStageName: {
      type: String,
      default: ''
    }
  },

  data() {
    return {
      stages: [
        { name: 'draw', label: 'Losowanie' },
        { name: 'auction', label: 'Licytacja' },
        { name: 'question', label: 'Pytanie' },
        { name: 'billing', label: 'Rozliczenie' }
      ]
    }
  },

  methods: {
    getListItemClasses(stageName) {
      return ["controls-menu__list-item", { "controls-menu__list-item--active": stageName === this.currentStageName }]
    },
    startDraw() {
      this.$emit('start-draw')
    },
    endAuction() {
      this.$emit('end-auction')
    },
    endQuestion() {
      this.$emit('end-question')
    },
    correctAnswer() {
      this.$emit('correct-answer')
    },
    wrongAnswer() {
      this.$emit('wrong-answer')
    },
    openGodMode() {
      this.$emit('open-god-mode')
    }
  }
}
</script>

<style lang="scss">
.controls-menu {
  font-size: 24px;
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto 15px;;
  }
  &__list-item {
    padding: 10px;
    &--active {
      color: red;
    }
  }
  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button {
    margin: 0 10px;
    font-size: 24px;
  }
  &__paragraph {
    margin: 0;
  }
}
</style>
