<template>
  <div>
    <Countdown
      v-if="endTime"
      format="minutes:seconds"
      separators=";"
      :end="endTime"
      class="countdoun-clock"
      @countDownEnd="countdownEnd()"
    />
  </div>
</template>

<script>
import Countdown from "@whitewizard/countdown";

export default {
  name: "CountdownClock",
  components: { Countdown },
  data() {
    return {
      endTime: "",
    };
  },
  // created() {
  //   let currentDate = new Date()
  //   let endDate = currentDate.setSeconds(currentDate.getSeconds() + 60)
  //   console.log(endDate);
  //   this.endTime = new Date(endDate).toISOString()
  // },
  methods: {
    startCountDown() {
      let currentDate = new Date();
      console.log(12345, currentDate);
      let endDate = currentDate.setSeconds(currentDate.getSeconds() + 60);
      // console.log(endDate);
      this.endTime = new Date(endDate).toISOString();
      console.log(999, this.endTime);
    },
    countdownEnd() {
      console.log(11111, "end");
      this.endTime = null;
      this.$emit("countdown-ended");
    },
  },
};
</script>

<style lang="scss">
.countdoun-clock {
  font-family: "Liberation Mono";
  font-size: 100px;
  display: flex;
  justify-content: flex-end;
}
</style>
