<template>
  <section class="game-question__container">
    <div class="game-question">
      <header class="game-question__header">
        <h2 class="game-question__heading">
          {{ questions[currentChapter].label }}
        </h2>
        <h3 class="game-question__heading">
          {{ questions[currentChapter].category }}
        </h3>
      </header>
      <p :class="paragraphClasses">
        {{ questions[currentChapter].question }}
      </p>
    </div>
  </section>
</template>

<script>
export default {
  name: "GameQuestion",

  props: {
    currentChapter: {
      type: String,
      default: "",
    },
    questionHidden: {
      type: Boolean,
      default: true,
    },
  },

  data() {
    return {
      questions: {
        "chapter-1": {
          label: "Rozdział 1",
          category: "Postanowienia ogólne",
          question:
            "Które jednostki organizacyjne ZHP posiadają osobowość prawną?",
        },
        "chapter-2": {
          label: "Rozdział 2",
          category: "Charakter, cele i środki działania",
          question: "Co jest misją ZHP?",
        },
        "chapter-3": {
          label: "Rozdział 3",
          category: "Hymn, odznaki, symbole, mundury organizacyjne",
          question: "Co jest hymnem ZHP?",
        },
        "chapter-4": {
          label: "Rozdział 4",
          category: "Członkostwo",
          question:
            "Osoby w jakim wieku potrzebują pisemnej zgody rodziców lub opiekunów na przynależnośc do ZHP?",
        },
        "chapter-5": {
          label: "Rozdział 5",
          category: "Struktura",
          question: "Czyim rozkazem mianuje się drużynowego?",
        },
        "chapter-6": {
          label: "Rozdział 6",
          category: "Władze, podejmowanie uchwał i decyzji, wybory władz",
          question: "Ile trwa kadencja władz ZHP?",
        },
        "chapter-7": {
          label: "Rozdział 7",
          category: "Władze hufca",
          question: "Kto lub co jest najwyższą władzą hufca?",
        },
        "chapter-8": {
          label: "Rozdział 8",
          category: "Władze chorągwi",
          question: "Co najmniej ilu członków liczy komenda chorągwi?",
        },
        "chapter-9": {
          label: "Rozdział 9",
          category: "Władze naczelne",
          question: "Kto kieruje działalnością Rady Naczelnej ZHP?",
        },
        "chapter-10": {
          label: "Rozdział 10",
          category: "Majątek, gospodarka",
          question: "Do czego służy majątek ZHP?",
        },
        "chapter-11": {
          label: "Rozdział 11",
          category: "Postanowienia końcowe",
          question: "Kto może zmienić statut ZHP?",
        },
      },
    };
  },

  computed: {
    paragraphClasses() {
      return ['game-question__paragraph', {'game-question__paragraph--hidden': this.questionHidden}]
    }
  }
};
</script>

<style lang="scss">
.game-question {
  border: 1px solid black;
  &__container {
    padding: 60px 30px 0;
  }
  &__header {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  &__heading {
    color: white;
    margin: 0;
    font-size: 24px;
    text-align: right;
  }
  &__paragraph {
    font-size: 60px;
    text-align: center;
    padding: 20px 0;
    &--hidden {
      visibility: hidden;
    }
  }
}
</style>
