<template>
  <header class="game-header">
    <h1 class="game-header__heading">Awantura o Statut - runda {{ roundNumber }}</h1>
  </header>
</template>

<script>
export default {
  name: 'GameHeader',

  props: {
    roundNumber: {
      type: String,
      default: '1'
    }
  }
}
</script>

<style lang="scss">
.game-header {
  background: green;
  color: white;
  &__heading {
    margin: 0;
    padding: 15px 0;
    text-align: center;
  }
}
</style>
