<template>
  <section class="result-table__section">
    <dialog class="result-table__dialog" :open="godModeOpened">
      <h1>God Mode</h1>
      <input v-model="results.team1.account" />
      <input v-model="results.team2.account" />
      <input v-model="results.team3.account" />
      <input v-model="results.team4.account" />
      <br />
      <input v-model="results.team1.temp" />
      <input v-model="results.team2.temp" />
      <input v-model="results.team3.temp" />
      <input v-model="results.team4.temp" />
    </dialog>
    <div class="result-table__indicator-rail">
      <div
        v-if="highestBiddingTeamIndex !== null"
        class="result-table__indicator-container"
        :style="indicatorInlineStyle"
      >
        <div class="result-table__indicator"></div>
      </div>
    </div>
    <table class="result-table">
      <tr class="result-table__header">
        <th colspan="4">Licytacja</th>
      </tr>
      <tr>
        <td class="result-table__cell">
          <input
            class="result-table__input"
            type="number"
            v-model="results.team1.bidding"
            @input="calculate('team1')"
            tabindex="1"
          />
        </td>
        <td class="result-table__cell">
          <input
            class="result-table__input"
            type="number"
            v-model="results.team2.bidding"
            @input="calculate('team2')"
            tabindex="2"
          />
        </td>
        <td class="result-table__cell">
          <input
            class="result-table__input"
            type="number"
            v-model="results.team3.bidding"
            @input="calculate('team3')"
            tabindex="3"
          />
        </td>
        <td class="result-table__cell">
          <input
            class="result-table__input"
            type="number"
            v-model="results.team4.bidding"
            @input="calculate('team4')"
            tabindex="4"
          />
        </td>
      </tr>
      <tr class="result-table__header">
        <th>Drużyna 1</th>
        <th>Drużyna 2</th>
        <th>Drużyna 3</th>
        <th>Drużyna 4</th>
        <th>Pula</th>
      </tr>
      <tr>
        <td class="result-table__cell">
          {{ results.team1.account }}
        </td>
        <td class="result-table__cell">
          {{ results.team2.account }}
        </td>
        <td class="result-table__cell">
          {{ results.team3.account }}
        </td>
        <td class="result-table__cell">
          {{ results.team4.account }}
        </td>
        <td class="result-table__cell">
          {{ toWin }}
        </td>
      </tr>
    </table>
  </section>
</template>

<script>
export default {
  name: "ResultsTable",
  data() {
    return {
      results: {
        team1: {
          account: 5000,
          temp: 5000,
          bidding: 0,
        },
        team2: {
          account: 5000,
          temp: 5000,
          bidding: 0,
        },
        team3: {
          account: 5000,
          temp: 5000,
          bidding: 0,
        },
        team4: {
          account: 5000,
          temp: 5000,
          bidding: 0,
        },
        remainings: {
          account: 0,
          temp: 0,
        },
      },
      backup: {},
      godModeOpened: false,
    };
  },
  computed: {
    toWin() {
      return (
        Number(this.results.team1.bidding) +
        Number(this.results.team2.bidding) +
        Number(this.results.team3.bidding) +
        Number(this.results.team4.bidding) +
        Number(this.results.remainings.account)
      );
    },
    highestBiddingTeamIndex() {
      let bids = [
        { team: "1", bid: Number(this.results.team1.bidding) },
        { team: "2", bid: Number(this.results.team2.bidding) },
        { team: "3", bid: Number(this.results.team3.bidding) },
        { team: "4", bid: Number(this.results.team4.bidding) },
      ];
      bids.sort((a, b) => b.bid - a.bid);
      return bids[0].bid !== bids[1].bid ? bids[0].team - 1 : null;
    },
    indicatorInlineStyle() {
      return { left: this.highestBiddingTeamIndex * 20 + "%" };
    },
  },
  methods: {
    calculate(team) {
      this.results[team].account =
        this.results[team].temp - this.results[team].bidding;
    },
    recalculate(winner = `team${this.highestBiddingTeamIndex + 1}`) {
      let toWin = this.toWin;
      this.backup = JSON.parse(JSON.stringify(this.results));
      this.results.team1.temp = this.results.team1.account;
      this.results.team1.bidding = 0;
      this.results.team2.temp = this.results.team2.account;
      this.results.team2.bidding = 0;
      this.results.team3.temp = this.results.team3.account;
      this.results.team3.bidding = 0;
      this.results.team4.temp = this.results.team4.account;
      this.results.team4.bidding = 0;
      if (winner !== "remainings") {
        this.results[winner].account += toWin;
        this.results.remainings.account = 0;
      } else {
        this.results[winner].account = toWin;
      }
      this.results[winner].temp = this.results[winner].account;
    },
    revert() {
      this.results = JSON.parse(JSON.stringify(this.backup));
    },
    toggleGodModeVisibility() {
      this.godModeOpened = !this.godModeOpened;
    },
  },
};
</script>

<style lang="scss">
.result-table {
  width: 100%;
  table-layout: fixed;
  &__section {
    max-width: 100%;
  }
  &__dialog {
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
  }
  &__input {
    border: none;
    -moz-appearance: textfield;
    background: violet;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-family: "Liberation Mono";
    font-size: 40px;
    max-width: 100%;
    max-width: 150px;
  }
  &__header {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
  }
  &__cell {
    height: 50px;
    background: violet;
    color: #fff;
    text-align: center;
    font-family: "Liberation Mono";
    font-size: 40px;
    &:nth-child(1),
    &:nth-child(1) input {
      background: blue;
    }
    &:nth-child(2),
    &:nth-child(2) input {
      background: green;
    }
    &:nth-child(3),
    &:nth-child(3) input {
      background: orange;
    }
    &:nth-child(4),
    &:nth-child(4) input {
      background: red;
    }
    &:nth-child(5),
    &:nth-child(5) input {
      background: #000;
    }
  }
  &__indicator-rail {
    position: relative;
    height: 30px;
  }
  &__indicator-container {
    width: 20%;
    height: 30px;
    transition: all 0.2s ease-in-out;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  &__indicator {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
  }
}
</style>
