<template>
  <section>
    <FortuneWheel
      ref="wheel"
      :verify="canvasVerify"
      :canvas="canvasOptions"
      :prizes="prizes"
      :useWeight="true"
      @rotateEnd="onRotateEnd"
    />
  </section>
</template>

<script>
import FortuneWheel from "improved-vue-fortune-wheel";
import "improved-vue-fortune-wheel/lib/improved-vue-fortune-wheel.css";

export default {
  name: "WheelOfFortune",
  components: {
    FortuneWheel,
  },
  data() {
    return {
      canvasVerify: false,
      canvasOptions: {
        borderColor: "#000000",
        borderWidth: 6,
        lineHeight: 20,
        textRadius: 350,
        radius: 400,
        btnBgColor: "#178704",
        // btnTextColor: "#ffffff",
        btnWidth: 80,
        btnText: "",
        // btnFontSize: 20,
        btnBorderColor: "#000000",
        btnImageSrc: "",
        textDirection: "vertical",
      },
      // duration: 1000,
      prizes: [
        {
          id: 1,
          name: "Rozdział 1",
          value: "chapter-1",
          bgColor: "#86a315",
          color: "#ffffff",
          weight: 1,
        },
        {
          id: 2,
          name: "Rozdział 2",
          value: "chapter-2",
          bgColor: "#f8c409",
          color: "#ffffff",
          weight: 1,
        },
        {
          id: 3,
          name: "Rozdział 3",
          value: "chapter-3",
          bgColor: "#80539b",
          color: "#ffffff",
          weight: 1,
        },
        {
          id: 4,
          name: "Rozdział 4",
          value: "chapter-4",
          bgColor: "#e30613",
          color: "#ffffff",
          weight: 1,
        },
        {
          id: 5,
          name: "Rozdział 5",
          value: "chapter-5",
          bgColor: "#252e78",
          color: "#ffffff",
          weight: 1,
        },
        {
          id: 6,
          name: "Rozdział 6",
          value: "chapter-6",
          bgColor: "#ef7d00",
          color: "#ffffff",
          weight: 1,
        },
        {
          id: 7,
          name: "Rozdział 7",
          value: "chapter-7",
          bgColor: "#8a0e68",
          color: "#ffffff",
          weight: 1,
        },
        {
          id: 8,
          name: "Rozdział 8",
          value: "chapter-8",
          bgColor: "#a3521f",
          color: "#ffffff",
          weight: 1,
        },
        {
          id: 9,
          name: "Rozdział 9",
          value: "chapter-9",
          bgColor: "#26b4e6",
          color: "#ffffff",
          weight: 1,
        },
        {
          id: 10,
          name: "Rozdział 10",
          value: "chapter-10",
          bgColor: "#a6adb3",
          color: "#ffffff",
          weight: 1,
        },
        {
          id: 11,
          name: "Rozdział 11",
          value: "chapter-11",
          bgColor: "#9b1006",
          color: "#ffffff",
          weight: 1,
        },
      ],
    };
  },
  computed: {
    wheel() {
      return this.$refs.wheel;
    },
  },
  methods: {
    spin() {
      this.wheel.spin();
    },
    onRotateEnd(prize) {
      // console.log(prize.value);
      // this.prizes[prize.id - 1].bgColor = "#000000"
      // this.prizes[prize.id - 1].name = ""
      this.prizes[prize.id - 1].weight = 0;
      this.$emit("end-stage", prize.value)
    },
  },
};
</script>
