<template>
  <div id="app">
    <GameHeader :round-number="roundNumber" class="game__header" />
    <main class="game__main">
      <WheelOfFortune
        class="game__wheel"
        ref="wheel"
        @end-stage="goToStage('auction', $event)"
      />
      <!-- v-if="currentStage === 'question'" -->
      <CountdownClock
        class="game__clock"
        ref="clock"
        @countdown-ended="goToStage('billing')"
      />
      <GameQuestion
        v-if="currentStage !== 'draw'"
        :current-chapter="currentChapter"
        :question-hidden="currentStage === 'auction'"
        class="game__question"
      />
      <ResultsTable class="game__table" ref="table" />
      <ControlsMenu
        :current-stage-name="currentStage"
        class="game__controls"
        @start-draw="startDraw()"
        @end-auction="goToStage('question')"
        @end-question="goToStage('billing')"
        @correct-answer="correctAnswer"
        @wrong-answer="wrongAnswer"
        @open-god-mode="openGodMode"
      />
    </main>
  </div>
</template>

<script>
import WheelOfFortune from "./components/WheelOfFortune.vue";
import CountdownClock from "./components/CountdownClock.vue";
import ResultsTable from "./components/ResultsTable.vue";
import ControlsMenu from "./components/ControlsMenu.vue";
import GameHeader from "./components/GameHeader.vue";
import GameQuestion from "./components/GameQuestion.vue";

export default {
  name: "App",
  components: {
    WheelOfFortune,
    CountdownClock,
    ResultsTable,
    ControlsMenu,
    GameHeader,
    GameQuestion,
  },

  data() {
    return {
      currentStage: "draw",
      currentChapter: "",
      roundNumber: 1
    };
  },

  methods: {
    startDraw() {
      this.$refs.wheel.spin();
    },
    goToStage(stageName, payload) {
      console.log(payload);
      this.currentStage = stageName;
      if (stageName === "draw") this.roundNumber = this.roundNumber  + 1
      if (stageName === "auction") this.currentChapter = payload;
      if (stageName === "question") this.$refs.clock.startCountDown();
    },
    correctAnswer() {
      this.$refs.table.recalculate();
      this.goToStage("draw");
    },
    wrongAnswer() {
      this.$refs.table.recalculate("remainings");
      this.goToStage("draw");
    },
    openGodMode() {
      this.$refs.table.toggleGodModeVisibility();
    },
  },

  // created() {
  //   window.addEventListener('keydown', function(e) {
  //     console.log(e.keyCode);
  //   });
  // }
};
</script>

<style lang="scss">
* {
  box-sizing: border-box;
  font-family: "Liberation Mono";
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.game {
  &__main {
    width: 100vw;
    height: calc(100vh - 75px);
    padding: 20px 50px 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: 40% 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "wheel clock" "wheel question" "wheel table" "controls table";
  }
  &__wheel {
    grid-area: wheel;
    display: flex;
    align-items: center;
  }
  &__clock {
    grid-area: clock;
    min-height: 115px;
  }
  &__table {
    grid-area: table;
  }
  &__controls {
    grid-area: controls;
  }
  &__question {
    grid-area: question;
  }
}
</style>
Y
